web-key
web-key.pub
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/aws/6.32.0/linux_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.32.0/linux_amd64/terraform-provider-aws_v6.32.0_x5
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl